@charset "utf-8";

/*
  @Author:zhangming
  Email:344822559@qq.com
  Affect:重置css
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/*禁止文本缩放 字体设置  取消touch高亮效果*/
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, "PingFang SC","Helvetica Neue", Helvetica, Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: transparent;
  -ms-text-size-adjust: 100%;
}


body {
  width: 100%;
  height: 100%;
  background: #f5f8fe;
  color: #666;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling:touch;
  overflow: hidden;
 }



/*清除输入框内阴影*/
input, select,textarea {
  border: 0;
  -webkit-appearance: none;
  appearance:none;
}


input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}



ol, ul {
    list-style: none;
}


/*禁止选中文本内容*/
*:not(input, select, textArea) {
    -webkit-user-select: none;
}

/*禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加*/
img,a{
  -webkit-touch-callout:none;
}

a,a:active,a:hover {
  text-decoration: none;
}

/*去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/
a,button,input,textarea{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}



@media screen and (min-width:100px){ /*  iPhone 4,5 */
 html{ font-size: 12px;}
}
@media screen and (min-width:320px){ /*  iPhone 4,5 */
 html{ font-size: 12px;}
}
@media screen and (min-width:375px){ /*  iPhone 6 */
 html{ font-size: 12px;}
}
@media screen and (min-width:414px){  /*  iPhone 6 plus */
 html{ font-size: 12px;}
}
@media screen and (min-width:600px){
    html{ font-size:14px;}
}
@media (min-width:800px){
    html{ font-size:14px;}
    body{
      display: block;
      width: 750px;
      margin: 0 auto;
    }
}
